.callback {
  width: 327px;
}

.callback p {
  width: 100%;
  margin-bottom: 19px;

  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.callback input {
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 15px;

  font-size: 15px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.8);

  border: 1px solid #c9ccd4;
  border-radius: 4px;

  &::placeholder {
    color: rgba(28, 28, 28, 0.5);
  }
}

.callback button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 15px;

  font-size: 15px;
  line-height: 21px;
  font-weight: 600;

  background-color: #0ad9c6;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgba(10, 217, 198, 0.8);
  }

  &:active {
    background-color: rgba(10, 217, 198, 0.5);
  }
}

@media (max-width: $tablet-width) {
  .callback {
    width: 320px;
  }

  .callback p {
    margin-bottom: 29px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.15px;
    color: #000000;
  }

  .callback input {
    padding-left: 20px;

    border-radius: 4px;
  }
}
