.intro {
  background-color: #0d0d0d;
  background-image: url("../img/bg-header-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }
}

.intro__container {
  position: relative;

  width: 880px;
  min-height: 825px;
  padding-top: 371px;
}

.intro h1 {
  width: 390px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 46px;
  line-height: 64px;
  font-weight: bold;
  color: #ffffff;
}

.intro__text {
  width: 390px;
  margin: 0;

  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.intro__callback {
  position: absolute;
  top: 324px;
  right: 0;
}

@media (max-width: $tablet-width) {
  .intro {
    margin-bottom: 415px;

    background-image: url("../img/bg-header-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }
  }

  .intro__container {
    width: auto;
    min-height: 340px;
    padding-top: 135px;
  }

  .intro h1 {
    width: 525px;
    margin: 0 auto;
    margin-bottom: 19px;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .intro__text {
    width: 435px;
    margin: 0 auto;

    font-size: 18px;
    text-align: center;
  }

  .intro__callback {
    top: 410px;
    left: 50%;
    right: auto;

    transform: translateX(-50%);
  }
}

@media (max-width: $mobile-width) {
  .intro {
    background-image: url("../img/bg-header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }

  .intro__container {
    min-height: 390px;
    padding-top: 122px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro h1 {
    width: auto;
  }

  .intro__text {
    width: auto;
  }
}
