.main-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  min-height: 62px;
  padding-top: 21px;
}

.main-nav__item {
  display: block;
  flex-shrink: 0;

  padding-left: 22px;
  padding-right: 22px;

  line-height: 0;
}

.main-nav__link {
  display: block;

  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    color: rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    width: 100%;
    min-height: 568px;

    background-color: #ffffff;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: stretch;

    padding-top: 100px;
  }

  .main-nav__item {
    margin-bottom: 30px;
    padding: 0;
  }

  .main-nav__link {
    position: relative;

    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 35px;

    font-size: 20px;
    line-height: 28px;
    color: #48494d;

    background-color: #f6f6f6;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: 25px;
      width: 7px;
      height: 7px;

      border-top: 2px solid rgba(44, 46, 63, 0.2);
      border-right: 2px solid rgba(44, 46, 63, 0.2);

      transform: rotate(45deg) translateY(-50%);
    }
  }
}
