.page-header--no-js {
  padding-bottom: 762px;
}

.page-header__container {
  display: flex;
  flex-direction: column;

  width: 880px;
}

.page-header--no-js .page-header__container {
  flex-direction: row;
  justify-content: stretch;
  align-items: center;

  padding-top: 21px;
  padding-bottom: 9px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-header__logo-link {
  order: 1;
  width: 68px;
  height: 20px;
}

.page-header--no-js .page-header__logo-link {
  order: 0;
}

.page-header__logo-img {
  width: 68px;
  height: 20px;
}

.page-header__burger {
  display: none;
}

.page-header__nav {
  margin-bottom: 255px;
}

.page-header--no-js .page-header__nav {
  flex-grow: 1;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;

  border-bottom: none;
}

.page-header__callback {
  margin-top: -47px;
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-bottom: 0;

    &--no-js {
      position: static;

      padding-bottom: 0;
    }
  }

  .page-header__container {
    position: relative;
    display: block;

    width: auto;
    padding-top: 26px;
    padding-bottom: 4px;
  }

  .page-header--no-js .page-header__container {
    padding-bottom: 0;
    background-color: #ffffff;
  }

  .page-header--nav-opened .page-header__container {
    position: fixed;
    z-index: 2;

    width: 100%;

    background-color: #ffffff;
  }

  .page-header__logo-link {
    margin-left: 22px;
  }

  .page-header__burger {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;

    font-size: 0;

    background-color: $color-turquoise;

    border: none;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 22px;
      height: 1px;

      background-color: #000000;
      box-shadow: 0 7px 0 0 #000000, 0 -7px 0 0 #000000;

      transform: translate(-50%, -50%);
    }

    &--nav-opened {
      background-color: #ffffff;
    }

    &--nav-opened::before,
    &--nav-opened::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 31px;
      height: 1px;

      background-color: rgba(20, 21, 23, 0.2);
      box-shadow: none;
    }

    &--nav-opened::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &--nav-opened::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .page-header--no-js .page-header__burger {
    display: none;
  }

  .page-header__nav {
    display: none;

    &--opened {
      position: fixed;
      top: 50px;
      left: 0;
      z-index: 2;

      display: block;
    }
  }

  .page-header--no-js .page-header__nav {
    position: static;

    display: block;
    min-height: 568px;
    padding-left: 0;
  }

  .page-header__callback {
    position: absolute;
    bottom: -340px;
    left: 50%;

    margin-top: 0;

    transform: translateX(-50%);
  }
}

@media (max-width: $mobile-width) {
  .page-header__container {
    padding-bottom: 0;
  }

  .page-header__logo-link {
    margin-left: 17px;
  }

  .page-header__bottom {
    padding-top: 70px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
