.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
}

.page-header__container {
  position: relative;

  width: 880px;
}

.page-header__logo-link {
  position: absolute;
  top: 318px;
  left: 0;

  width: 68px;
  height: 20px;
}

.page-header__logo-img {
  width: 68px;
  height: 20px;
}

.page-header__burger {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header {
    &--no-js {
      position: static;
    }

    &--no-js .page-header__burger {
      display: none;
    }

    &--no-js .page-header__nav {
      display: block;
    }

    &--nav-opened {
      background-color: #ffffff;
    }
  }

  .page-header__container {
    width: auto;
    padding: 0;
    padding-top: 25px;
  }

  .page-header__logo-link {
    position: static;

    padding-left: 21px;
  }

  .page-header__burger {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;

    font-size: 0;

    background-color: $color-turquoise;

    border: none;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 22px;
      height: 1px;

      background-color: #000000;
      box-shadow: 0 7px 0 0 #000000, 0 -7px 0 0 #000000;

      transform: translate(-50%, -50%);
    }

    &--nav-opened {
      background-color: #ffffff;
    }

    &--nav-opened::before,
    &--nav-opened::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 31px;
      height: 1px;

      background-color: rgba(20, 21, 23, 0.2);
      box-shadow: none;
    }

    &--nav-opened::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &--nav-opened::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .page-header__nav {
    display: none;

    &--opened {
      display: block;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header__logo-link {
    padding-left: 17px;
  }
}
