.page-header {
  background-color: #212121;
}

.page-header__logo-link {
  width: 68px;
  height: 20px;
}

.page-header__logo-img {
  width: 68px;
  height: 20px;
}

.page-header__burger--hidden {
  display: none;
}
