.page-footer__list {
  @include list-reset;
}

.page-footer__link {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
