.promo__container {
  padding-top: 32px;
}

.promo--no-js .promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.promo__heading {
  width: 390px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 46px;
  line-height: 64px;
  font-weight: bold;
  color: #ffffff;
}

.promo--no-js .promo__heading {
  width: auto;
  text-align: center;
  color: #000000;
}

.promo__text {
  width: 390px;
  margin: 0;

  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.promo--no-js .promo__text {
  text-align: center;
  color: #000000;
}

@media (max-width: $tablet-width) {
  .promo {
    flex-direction: column;
    align-items: center;
  }

  .promo__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .promo--no-js .promo__container {
    padding-top: 135px;
    padding-bottom: 80px;

    background-color: #0d0d0d;
    background-image: url("../img/bg-header-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }
  }

  .promo__heading {
    width: 525px;
    margin: 0 auto;
    margin-bottom: 19px;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .promo--no-js .promo__heading {
    color: #ffffff;
  }

  .promo__text {
    width: 435px;
    margin: 0 auto;

    font-size: 18px;
    text-align: center;
  }

  .promo--no-js .promo__text {
    color: #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .promo__container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo--no-js .promo__container {
    padding-top: 120px;
    padding-bottom: 70px;

    background-image: url("../img/bg-header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }

  .promo__heading {
    width: auto;
  }

  .promo__text {
    width: auto;
  }
}
