.section-heading {
  margin: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #1f1f1f;
}

@media (max-width: $tablet-width) {
  .section-heading {
    font-size: 24px;
  }
}
