.video {
  background-color: #131314;
}

.video__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
}

.video__text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
